@model List<Condominio.Model.QueryModel.ObterFuncionario>

@{
    ViewBag.Title = "Consultar Funcionario";
}

<h3>Consultar Funcionario</h3>

<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Cargo</th>
                        <th>Nome</th>
                        <th>Nascimento</th>
                        <th>Telefone</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th>Cpf</th>
                        <th>Ativo</th>
                    </tr>

                    </thead>
                    <tbody>

                    @foreach (var funcionario in Model)
                    {
                        <tr>
                            <td>@funcionario.IdFuncionario</td>
                            <td>@funcionario.Cargo</td>
                            <td>@funcionario.Nome</td>
                            <td>
                                @funcionario.DataDeNascimento.ToString("dd/MM/yyyy")
                            </td>
                            <td>@funcionario.Telefone</td>
                            <td>@funcionario.Celular</td>
                            <td>@funcionario.Email</td>
                            <td>@funcionario.Cpf</td>
                            <td>@funcionario.Ativo</td>
                            <td>
                                <input type="button" class="btn btn-warning" value="Editar"/>
                                <input type="button" class="btn btn-danger" value="Excluir"/>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>