@model Condominio.Web.ViewModels.Funcionario.FuncionarioViewModel

@{
    Layout = null;
    ViewBag.Title = "Details";
}

<p>@Html.DisplayNameFor(model => model.IdFuncionario) : @Html.DisplayFor(model => model.IdFuncionario)</p>
<p>@Html.DisplayNameFor(model => model.Nome) : @Html.DisplayFor(model => model.Nome)</p>
<p>@Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)</p>


