@using System.Web.Mvc.Html
@model Condominio.Web.ViewModels.Funcionario.FuncionarioViewModel

@{
    ViewBag.Title = "Inserir Funcionario";
}

@*<h2>Inserir Funcionario</h2>*@

<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-10">
            <fieldset>
                <legend>
                    Inserir Funcionario
                </legend>

                @using (Html.BeginForm("Inserir", "Funcionario"))
                {
                    <div class="col-md-5">
                        <label>Nome</label>
                        @Html.TextBoxFor(x => x.Nome, null, new { @class = "form-control", placeholder = "Insira seu nome" })
                    </div>

                    <div class="col-md-5">
                        <label>Telefone</label>
                        @Html.TextBoxFor(x => x.Telefone, null, new { @class = "form-control", placeholder = "(xx) xxxx-xxxx" })
                    </div>

                    <div class="col-md-5">
                        <label>Celular</label>
                        @Html.TextBoxFor(x => x.Celular, null, new { @class = "form-control", placeholder = "(xx)xxxxx-xxxx" })
                    </div>

                    <div class="col-md-5">
                        <label>E-mail</label>
                        @Html.TextBoxFor(x => x.Email, null, new { @class = "form-control", placeholder = "exemplo@outlook.com" })
                    </div>

                    <div class="col-md-5">
                        <label>CPF</label>
                        @Html.TextBoxFor(x => x.Cpf, null, new { @class = "form-control", placeholder = "000.000.000-00" })
                    </div>

                    <div class="col-md-5">
                        <label>Cargo:</label>
                        @Html.DropDownList("ListadeCargos", null, "Selecione", new {@class="form-control"})
                    </div>

                    <div class="col-md-5" style="margin-top: 10px">
                        <input type="submit" value="Inserir" class="btn btn-primary" />
                    </div>
                }
            </fieldset>
        </div>
    </div>
</div>